.label {
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.input {
  margin: 10px 0;
  padding: 5px;
  border: 1.5px solid rgb(124, 123, 123, 0.3);
}

.input:focus {
  border: 2px solid rgba(0, 110, 255, 0.5);
  outline: none;
  box-shadow: -1px -1px 4px rgb(47, 146, 245, 0.5);
}
